.border-redondo{
    
    border-radius: 50px;
    padding: 50px;
} 

li{
    list-style-type: none;
    line-height: 20pt;
}

ul{
    margin: 10px auto 0;
    padding: 2px;
}
ul li{
    background: rgb(255,255,255,.1);
    padding: 5px 10px;
    color: #566573;
    margin: 5px 0;
    transition: .5s;
}

ul li span{
    color: #99A3A4;
}

footer{
    align-content: center;
}

body{
    background: #17202A;
}

h3{
    color: white;
}